<h2>Product Catalog</h2>

<table border="1" style="width: 100%; border-collapse: collapse;">
  
  <div *ngFor="let c of categories" >
    <!-- bảng danh mục -->
    <tr>
      <td colspan="2" style=" font-weight: bold; text-align: center; vertical-align: middle; padding: 10px;">Ma Danh Muc</td>
      <td colspan="2" style=" font-weight: bold; text-align: center; vertical-align: middle; padding: 10px;">Ten Danh Muc</td>
    </tr>
        <tr>
      <td colspan="2" style="text-align: center; vertical-align: middle; padding: 10px;">{{ c.CateId }}</td>
      <td colspan="2" style="text-align: center; vertical-align: middle; padding: 10px;"> {{ c.CateName }}</td>
    </tr>

    <!-- bảng sản phẩm -->
    <tr>
      <th style="text-align: center; vertical-align: middle; padding: 10px;">Ma San Pham</th>
      <th style="text-align: center; vertical-align: middle; padding: 10px;">Ten San Pham</th>
      <th style="text-align: center; vertical-align: middle; padding: 10px;">Gia San Pham</th>
      <th style="text-align: center; vertical-align: middle; padding: 10px;">Picture</th>
    </tr>

    <tr *ngFor="let p of c.Products">
      <td style="text-align: center; vertical-align: middle; padding: 10px;">{{ p.ProductId }}</td>
      <td style="text-align: center; vertical-align: middle; padding: 10px;">{{ p.ProductName }}</td>
      <td style="text-align: center; vertical-align: middle; padding: 10px;">{{ p.Price }}</td>
      <td style="text-align: center; vertical-align: middle; padding: 10px;">
        <img [src]="p.Image" width="60">
      </td>
    </tr>
  </div>

</table>
